<template>
    <div class="tabs-wrap">
        <div class="tabs">
            <button :class="{
                    'tab-item': true,
                    'tab-selected': i===selectedItemIndex
                    }"
                    v-for="(item, i) in items"
                    :key="i"
                    @click="$emit('selectedItemIndexUpdate',i)">
                {{ item.text }}
            </button>
        </div>
        <div class="tabs-content">
            <slot v-bind="items[selectedItemIndex]">

            </slot>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Tabs",
        model: {
            prop: 'selectedItemIndex',
            event: 'selectedItemIndexUpdate'
        },
        props: {
            items: Array,
            selectedItemIndex: {
                type: Number,
                default: 0
            }
        }
    }
</script>

<style scoped>
    .tabs-wrap {
        height: 100%;
    }
    .tabs {
        width: 100%;
        display: flex;
        justify-items: stretch;
        align-items: stretch;
        flex-grow: 0;
    }
    .tab-item {
        flex: 1;
        border: none;
        height: 32px;
    }
    .tab-item.tab-selected {
        background-color: #98a8b0;
        border: none;
    }
    .tabs-content {
        padding: 12px;
    }
</style>