<template>
    <div class="vertical-bar-wrap">
        <div :class="{
                'vertical-bar-value': true,
                'fill-on-hover': fillOnHover
                }"
             :style="gradient+height">
        </div>
        <div v-if="value" class="vertical-bar-value-text">
            <span>{{ value }}</span>
        </div>
    </div>
</template>

<script>
    export default {
        name: "VerticalBar",

        props: {
            value: Number,
            fillOnHover: {
                type: Boolean,
                default: false
            }
        },

        computed: {
            gradient() {
                if (this.normallizedValue > 0) {
                    let gradientHeight = Math.round(100/this.normallizedValue*100)+"%";
                    return `
                    background: -moz-linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(40,219,0,1) ${gradientHeight});
                    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(40,219,0,1)), color-stop(${gradientHeight}, rgba(255,0,0,1)));
                    background: -webkit-linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(40,219,0,1) ${gradientHeight});
                    background: -o-linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(40,219,0,1) ${gradientHeight});
                    background: -ms-linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(40,219,0,1) ${gradientHeight});
                    background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(40,219,0,1) ${gradientHeight}); `
                } else {
                    return "";
                }
            },
            height() {
                return "height:"+this.normallizedValue+"%";
            },
            normallizedValue() {
                return this.value < 0 ? 0 : this.value > 100 ? 100 : this.value;
            }
        }
    }
</script>

<style scoped>
    .vertical-bar-wrap {
        width: 100%;
        height: 100%;
        padding: 4px;
        border: 1px solid #000;
        overflow: hidden;
        display: flex;
        position: relative;
        flex-direction: column-reverse;
    }

    .vertical-bar-value {
        width: 100%;
    }

    .vertical-bar-value.fill-on-hover {
        clip-path: inset(100% 0% 0% 0%);
        transition: clip-path 0.4s ease-in-out;
    }

    .vertical-bar-wrap:hover .vertical-bar-value {
        clip-path: inset(0 0 0 0);
    }

    .vertical-bar-value-text {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
    }

</style>