<template>

    <VerticalBar :value="value" fill-on-hover>

    </VerticalBar>

</template>

<script>
    import VerticalBar from "./VerticalBar";
    import WeatherAnalyzer from "../utils/weather-analyzer";

    export default {
        name: "WeatherMoodGauge",
        components: {VerticalBar},
        props: {
            cityData: Object
        },
        data: () => {
            return {
                value: 0
            }
        },
        created() {
            new WeatherAnalyzer(this.cityData)
                .getWeatherMood()
                .then(value => this.value = value)
                .catch()
                .finally()
        }
    }
</script>

<style scoped>

</style>