<template>
    <div id="app">
        <tabs :items="tabItems" v-model="selectedTab">
            <weather-mood-gauge
                    slot-scope="item"
                    :key="item.data.city+item.data.country"
                    style="width: 70px; height: 400px"
                    :cityData="item.data">

            </weather-mood-gauge>
        </tabs>
    </div>
</template>

<script>
    import Tabs from "./components/Tabs";
    import config from "./config.json";
    import WeatherMoodGauge from "./components/WeatherMoodGauge";

    export default {
        name: 'app',
        components: {
            WeatherMoodGauge,
            Tabs
        },
        data: () => {
            return {
                selectedTab: 0
            }
        },
        computed: {
            tabItems() {
                return config.cities.map(({city, country}) => {
                    return {
                        text: city,
                        data: {city, country}}
                })
            }
        }
    }
</script>

<style>
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
        background-color: #fff;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    }

    body {
        background-color: #fafafa;
    }
</style>
